<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>780266215516-nllt7rov8o5hk68k81tjcf6f2e7c130l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780266215516-nllt7rov8o5hk68k81tjcf6f2e7c130l</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ2-WNX2oIGjH14waUPXlTtSXeG-wOe2E</string>
	<key>GCM_SENDER_ID</key>
	<string>780266215516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.germanhernandez.TravelApp</string>
	<key>PROJECT_ID</key>
	<string>travelapp-8b5d3</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-8b5d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780266215516:ios:6111b8f1283ee4bd</string>
	<key>DATABASE_URL</key>
	<string>https://travelapp-8b5d3.firebaseio.com</string>
</dict>
</plist>